In [3]:
import unicodecsv
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt
from scipy import stats
from scipy.stats import norm

pd.options.display.float_format = '{:.0f}'.format

In [4]:
flights = pd.read_csv("FlightDelays.csv")
flights.head()

,year,month,carrier,carrier_name,airport,airport_name,arr_flights,arr_del15,carrier_ct,weather_ct,...,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,Unnamed: 21
0,2010,1,9E,Pinnacle Airlines Inc.,ABE,"Allentown/Bethlehem/Easton, PA: Lehigh Valley ...",65,16,5,0,...,0,1,0,765,440,0,325,0,0,nan
1,2010,1,9E,Pinnacle Airlines Inc.,AEX,"Alexandria, LA: Alexandria International",60,17,5,0,...,4,4,0,1029,297,99,335,0,298,nan
2,2010,1,9E,Pinnacle Airlines Inc.,ALB,"Albany, NY: Albany International",81,34,10,1,...,3,1,1,1535,533,77,700,0,225,nan
3,2010,1,9E,Pinnacle Airlines Inc.,ALO,"Waterloo, IA: Waterloo Regional",3,1,0,0,...,0,0,0,16,0,0,16,0,0,nan
4,2010,1,9E,Pinnacle Airlines Inc.,ATL,"Atlanta, GA: Hartsfield-Jackson Atlanta Intern...",1067,271,43,9,...,63,46,4,15932,4225,1098,6092,0,4517,nan

In [5]:
flights.columns

Index(['year', ' month', 'carrier', 'carrier_name', 'airport', 'airport_name',
       'arr_flights', 'arr_del15', 'carrier_ct', ' weather_ct', 'nas_ct',
       'security_ct', 'late_aircraft_ct', 'arr_cancelled', 'arr_diverted',
       ' arr_delay', ' carrier_delay', 'weather_delay', 'nas_delay',
       'security_delay', 'late_aircraft_delay', 'Unnamed: 21'],
      dtype='object')

In [6]:
flights["carrier_name"].unique

<bound method Series.unique of 0         Pinnacle Airlines Inc.
1         Pinnacle Airlines Inc.
2         Pinnacle Airlines Inc.
3         Pinnacle Airlines Inc.
4         Pinnacle Airlines Inc.
5         Pinnacle Airlines Inc.
6         Pinnacle Airlines Inc.
7         Pinnacle Airlines Inc.
8         Pinnacle Airlines Inc.
9         Pinnacle Airlines Inc.
10        Pinnacle Airlines Inc.
11        Pinnacle Airlines Inc.
12        Pinnacle Airlines Inc.
13        Pinnacle Airlines Inc.
14        Pinnacle Airlines Inc.
15        Pinnacle Airlines Inc.
16        Pinnacle Airlines Inc.
17        Pinnacle Airlines Inc.
18        Pinnacle Airlines Inc.
19        Pinnacle Airlines Inc.
20        Pinnacle Airlines Inc.
21        Pinnacle Airlines Inc.
22        Pinnacle Airlines Inc.
23        Pinnacle Airlines Inc.
24        Pinnacle Airlines Inc.
25        Pinnacle Airlines Inc.
26        Pinnacle Airlines Inc.
27        Pinnacle Airlines Inc.
28        Pinnacle Airlines Inc.
29        Pinnacle Airlines Inc.
                   ...
103331    Southwest Airlines Co.
103332    Southwest Airlines Co.
103333    Southwest Airlines Co.
103334    Southwest Airlines Co.
103335    Southwest Airlines Co.
103336    Southwest Airlines Co.
103337    Southwest Airlines Co.
103338    Southwest Airlines Co.
103339    Southwest Airlines Co.
103340    Southwest Airlines Co.
103341    Southwest Airlines Co.
103342    Southwest Airlines Co.
103343    Southwest Airlines Co.
103344    Southwest Airlines Co.
103345    Southwest Airlines Co.
103346    Southwest Airlines Co.
103347    Southwest Airlines Co.
103348    Southwest Airlines Co.
103349    Southwest Airlines Co.
103350    Southwest Airlines Co.
103351    Southwest Airlines Co.
103352    Southwest Airlines Co.
103353    Southwest Airlines Co.
103354    Southwest Airlines Co.
103355    Southwest Airlines Co.
103356    Southwest Airlines Co.
103357    Southwest Airlines Co.
103358    Southwest Airlines Co.
103359    Southwest Airlines Co.
103360    Southwest Airlines Co.
Name: carrier_name, Length: 103361, dtype: object>